/**
 * Created with IntelliJ IDEA.
 * User: Administrator
 * Date: 2016/3/1
 * Time: 17:55
 * To change this template use File | Settings | File Templates.
 */
.main-box{
    padding: 20px;
    background-color: #fff;
}
.main-tit{
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    color: #09142f;
}
.main-guider-cont-steps{
    display:flex;
}
.main-guider-cont-step{
    flex:none;
    width: 65px;
    padding: 56px 0 0 0;
    line-height: 25px;
    color: #b1bfd3;
    text-align: center;
    font-size: 14px;
}
.main-guider-cont-step:hover,.main-guider-cont-step.active{
    color: #37a8ff;
}


.main-guider-cont-step1{
    background: url(main-guider-cont-step1.png) center top no-repeat;
}
.main-guider-cont-step1:hover,.main-guider-cont-step1.active{
    background: url(main-guider-cont-step1-hover.png) center top no-repeat;
}

.main-guider-cont-step2{
    background: url(main-guider-cont-step2.png) center top no-repeat;
}
.main-guider-cont-step2:hover,.main-guider-cont-step2.active{
    background: url(main-guider-cont-step2-hover.png) center top no-repeat;
}

.main-guider-cont-step3{
    background: url(main-guider-cont-step3.png) center top no-repeat;
}
.main-guider-cont-step3:hover,.main-guider-cont-step3.active{
    background: url(main-guider-cont-step3-hover.png) center top no-repeat;
}

.main-guider-cont-step4{
    background: url(main-guider-cont-step4.png) center top no-repeat;
}
.main-guider-cont-step4:hover,.main-guider-cont-step4.active{
    background: url(main-guider-cont-step4-hover.png) center top no-repeat;
}

.main-guider-cont-step5{
    background: url(main-guider-cont-step5.png) center top no-repeat;
}
.main-guider-cont-step5:hover,.main-guider-cont-step5.active{
    background: url(main-guider-cont-step5-hover.png) center top no-repeat;
}

.main-guider-cont-step img{
    display: block;
    margin: 0 auto;
}
.main-guider-arrowLine{
    flex:1;
    position: relative;
    height: 0;
    border: 0;
    border-bottom: 1px dashed #b1bfd3;
    margin: 25px 0 0 0;
}
.main-guider-arrowLine.active{
    border-bottom: 1px solid #4392fc;
}
.main-guider-arrowHeadRight{
    display: none;
    position: absolute;
    width: 7px;
    height: 9px;
    right: 0;
    top: -4px;
    background: url(arrow-head-right.png) center center no-repeat;
}
.main-guider-arrowLine.active .main-guider-arrowHeadRight{
    display: block;
}


.main-step-texts{
    margin: 10px 0 0 0;
}
.main-step-text{
    padding: 20px;
    background-color: #f5f7f9;
    text-align: center;
    line-height: 25px;
    color: #4d5362;
}

.main-table{
    margin: 20px 0 0 0;
}
.main-table-cont{
    /*min-height: 435px;*/
}
.main-table-cont-data{
    text-align: center;
}
.main-table-cont-data h3{
    color: #000;
}
.main-table-cont-table{
    height: 342px;
    margin: 30px 0 0 0;
}