<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rml.dao.PriceIndexMapper" >
  <resultMap id="BaseResultMap" type="rml.model.PriceIndex" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="month" property="month" jdbcType="VARCHAR" />
    <result column="season" property="season" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="VARCHAR" />
    <result column="west_month" property="west_month" jdbcType="VARCHAR" />
    <result column="west_season" property="west_season" jdbcType="VARCHAR" />
    <result column="west_year" property="west_year" jdbcType="VARCHAR" />
    <result column="east_month" property="east_month" jdbcType="VARCHAR" />
    <result column="east_year" property="east_year" jdbcType="VARCHAR" />
    <result column="year_top10_price" property="year_top10_price" jdbcType="VARCHAR" />
    <result column="year_top10_sale" property="year_top10_sale" jdbcType="VARCHAR" />
    <result column="year_top10_sale" property="year_top10_sale" jdbcType="VARCHAR" />
    <result column="createAt" property="createAt" jdbcType="VARCHAR" />
    <result column="updateAt" property="updateAt" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, month, season, year, west_month, west_season, west_year, east_month, east_season, east_year, year_top10_price, year_top10_sale, data_total, createAt, updateAt
  </sql>

  <sql id="noId_Column_List" >
    month, season, year, west_month, west_season, west_year, east_month, east_season, east_year, year_top10_price, year_top10_sale, data_total, createAt, updateAt
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="int" >
    select 
    <include refid="Base_Column_List" />
    from priceIndex
    where id = #{id}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="int" >
    delete from priceIndex
    where id = #{id}
  </delete>

  <insert id="insert" parameterType="rml.model.PriceIndex" >
    insert into priceIndex ( <include refid="noId_Column_List" /> )
    values (
    #{month},#{season}, #{year}, #{west_month}, #{west_season},  #{west_year}, #{east_month},  #{east_season}, #{east_year},  #{year_top10_price}, #{year_top10_sale},  #{data_total}, #{createAt}, #{updateAt})
  </insert>

  <insert id="insertSelective" parameterType="rml.model.PriceIndex" >
    insert into priceIndex
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="month != null" >
        month,
      </if>
      <if test="season != null" >
        season,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="west_month != null" >
        west_month,
      </if>
      <if test="west_season != null" >
        west_season,
      </if>
      <if test="west_year != null" >
        west_year,
      </if>
      <if test="east_month != null" >
        east_month,
      </if>
      <if test="east_season != null" >
        east_season,
      </if>
      <if test="east_year != null" >
        east_year,
      </if>
      <if test="year_top10_price != null" >
        year_top10_price,
      </if>
      <if test="year_top10_sale != null" >
        year_top10_sale,
      </if>
      <if test="data_total != null" >
        data_total,
      </if>
      <if test="createAt != null" >
        createAt,
      </if>
      <if test="updateAt != null" >
        updateAt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="month != null" >
        #{month},
      </if>
      <if test="season != null" >
        #{season},
      </if>
      <if test="year != null" >
        #{year},
      </if>
      <if test="west_month != null" >
        #{west_month},
      </if>
      <if test="west_season != null" >
        #{west_season},
      </if>
      <if test="west_year != null" >
        #{west_year},
      </if>
      <if test="east_month != null" >
        #{east_month},
      </if>
      <if test="east_year != null" >
        #{east_year},
      </if>
      <if test="year_top10_price != null" >
        #{year_top10_price},
      </if>
      <if test="year_top10_sale != null" >
        #{year_top10_sale},
      </if>
      <if test="data_total != null" >
        #{data_total},
      </if>
      <if test="createAt != null" >
        #{createAt},
      </if>
      <if test="updateAt != null" >
        #{updateAt},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="rml.model.PriceIndex" >
    update priceIndex
    <set >
      <if test="month != null" >
        month = #{month},
      </if>
      <if test="season != null" >
        season = #{season},
      </if>
      <if test="year != null" >
        year = #{year},
      </if>
      <if test="west_month != null" >
        west_month = #{west_month},
      </if>
      <if test="west_season != null" >
        west_season = #{west_season},
      </if>
      <if test="west_year != null" >
        west_year = #{west_year},
      </if>
      <if test="east_month != null" >
        east_month = #{east_month},
      </if>
      <if test="east_season != null" >
        east_season = #{east_season},
      </if>
      <if test="west_season != null" >
        west_season = #{west_season},
      </if>
      <if test="east_year != null" >
        east_year = #{east_year},
      </if>
      <if test="year_top10_price != null" >
        year_top10_price = #{year_top10_price},
      </if>
      <if test="year_top10_sale != null" >
        year_top10_sale = #{year_top10_sale},
      </if>
      <if test="data_total != null" >
        data_total = #{data_total},
      </if>
      <if test="createAt != null" >
        createAt = #{createAt},
      </if>
      <if test="updateAt != null" >
        updateAt = #{updateAt},
      </if>
    </set>
    where id = #{id}
  </update>

  <update id="updateByPrimaryKey" parameterType="rml.model.PriceIndex" >
    update priceIndex
    set
      month = #{month},
      season = #{season},
      year = #{year},
      west_month = #{west_month},
      west_season = #{west_season}
      west_year = #{west_year}
      east_month = #{east_month}
      east_season = #{east_season}
      east_year = #{east_year},
      year_top10_price = #{year_top10_price}
      year_top10_sale = #{year_top10_sale}
      data_total = #{data_total}
      createAt = #{createAt}
      updateAt = #{updateAt}
    where id = #{id}
  </update>
  
  <select id="getAll" resultMap="BaseResultMap" parameterType="rml.model.Page">
	select <include refid="Base_Column_List" /> from priceIndex
    ORDER BY priceIndex.updateAt
    <choose>
      <when test="order!=null and order!=''">
        <choose>
          <when test="order == 'DESC'.toString() or order == 'desc'.toString()">
            DESC
          </when>
          <otherwise>
            ASC
          </otherwise>
        </choose>
      </when>
      <otherwise>
        DESC
      </otherwise>
    </choose>
    <if test="offset!=null and limit!=null">LIMIT #{offset}, #{limit}</if>
  </select>

  <select id="countAll"
          parameterType="rml.model.Page"
          resultType="java.lang.Integer">
    select count(1) from priceIndex
  </select>
</mapper>