<div class="banner">
    <div class="wrapper login reset-pwd">
        <div class="rim">
            <form id="resetPasswordForm" class="form" method="post" action="/">
                <h3 class="form-title">修改密码</h3>
                <div class="error-message"></div>
                <input id="userId" type="hidden" name="userId" value="">
                <input id="username" class="input i-user" type="text" name="mobileNumber" maxlength="50" autocomplete="off" disabled="disabled" value="" placeholder="请输入账号">
                <input id="password" class="input i-lock" type="password" name="newPass" maxlength="20" autocomplete="off" value="" placeholder="请输入新密码">
                <input id="repassword" class="input i-lock" type="password" name="rePass" maxlength="20" autocomplete="off" value="" placeholder="确认新密码">

                <input class="submit hand" type="submit" value="登&nbsp;&nbsp;录">
            </form>
        </div>
    </div>
</div>