/**
 * Created with IntelliJ IDEA.
 * User: senro
 * Date: 16/10/6
 * Time: 下午7:37
 * To change this template use File | Settings | File Templates.
 */
body {
    background-color: #fff;
    font: 14px/1.5 "microsoft yahei", "simhei", "宋体", tahoma, arial, sans-serif;
}

a{
    color: #000;
}

a:hover{
    color: #0862c0;
    text-decoration: none;
}

.bg {
    min-width: 947px;
    /*background: url(../images/bg.jpg) no-repeat center top;*/
}

.header{
    height: 288px;
    background: url(../images/header.png) no-repeat center top;
}

.container {
    width: 947px;
    padding: 0;
    margin: 0 auto;
}

.footer{
    height: 306px;
    background: url(../images/footer.png) no-repeat center top;
}

.slide{
    position: relative;
    float: left;
    border:1px solid #e4e4e4;
    padding: 10px;
    width: 557px;
    height: 400px;
}

.slide img{
    width: 538px;
    height: 378px !important;
    border:1px solid #000;
}

.slide .nivo-controlNav{
    position: absolute;
    z-index: 999;
    right:10px;
    bottom: -5px;
}

.slide .nivoSlider{
    box-shadow: none;
}

.news{
    float: right;
    width: 380px;
}

.news-box{
    padding: 15px;
    border:1px solid #e4e4e4;
}

.news-box h3{
    font-weight: bold;
    font-size: 16px;
    color: #0862c0;
}

.news-box-intro{
    height: 128px;
}

.news-box-intro h3{
    margin: 10px 0 15px 0;
}

.checkAllLink{
    color: red;
}

.news-box-list{
    margin: 12px 0 0 0;
}

.news-box-list h3{
    margin: 0 0 15px 0;
}

.news-box-list ul{
    line-height: 33px;
    padding: 0 0 0 16px;
}

.news-box-list ul li{
    list-style: disc;
}

.news-box-list ul li a{
    color: #000;
}

.news-box-list ul li a:hover{
    color: #0862c0;
    text-decoration: none;
}

.chartBox .nav-tabs{
    border-bottom: 2px solid #0862c0;
}

.chartBox .nav-tabs > li > a{
    padding: 10px 10px;
}

.chartBox .nav-tabs > li.active > a{
    border-radius: 0;
    background-color: #0862c0;
    color: #ffffff;
    border-color: #0862c0;
}

.chartBox .chartContainer{
    height: 405px;
    margin-top: 3px;
    border:1px solid #9dbfff;
}

.chartBox-together{
    margin: 15px 0 0 0;
}

.chartBox-together .searchBox{
    width: 259px;
}

.chartBox-together .searchBox input,.chartBox-together .searchBox button{
    display: inline-block;
}
.chartBox-together .searchBox input{
    width: 200px;
}

.chartBox .chartBox-titText{
    font-size: 22px;
    font-weight: bold;
    color: #0862c0;
    text-align: center;
    line-height:42px;
    padding:0 20px;
}

.chartBox-cn,.chartBox-en{
    width: 466px;
    border:1px solid #9dbfff;
}

.chartBox-cn .nav-tabs,.chartBox-en .nav-tabs{
    border-bottom: 0;
}

.chartBox-cn .chartContainer,.chartBox-en .chartContainer{
    border: 0;
}

.chartBox-cn .publicTime,.chartBox-en .publicTime{
    text-indent: 20px;
    color: #ccc;
}

.chartBox-top10 .chartContainer{
    height: 200px;
}

.mt15{
    margin-top: 15px;
}

.none{
    display: none;
}