<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rml.dao.DataMapper" >
  <resultMap id="BaseResultMap" type="rml.model.Data" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="hospitalName" property="hospitalName" jdbcType="VARCHAR" />
    <result column="dataUrl" property="dataUrl" jdbcType="VARCHAR" />
    <result column="dataPath" property="dataPath" jdbcType="VARCHAR" />
    <result column="createAt" property="createAt" jdbcType="VARCHAR" />
    <result column="updateAt" property="updateAt" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, hospitalName, month, dataUrl, dataPath, createAt, updateAt
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="int" >
    select 
    <include refid="Base_Column_List" />
    from data
    where id = #{id}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="int" >
    delete from data
    where id = #{id}
  </delete>

  <insert id="insert" parameterType="rml.model.Data" >
    insert into data (userId, hospitalName, month, dataUrl, dataPath, createAt, updateAt)
    values (
    #{userId},#{hospitalName}, #{month}, #{dataUrl}, #{dataPath},  #{createAt}, #{updateAt})
  </insert>

  <insert id="insertSelective" parameterType="rml.model.Data" >
    insert into data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="hospitalName != null" >
        hospitalName,
      </if>
      <if test="month != null" >
        month,
      </if>
      <if test="dataUrl != null" >
        dataUrl,
      </if>
      <if test="dataPath != null" >
        dataPath,
      </if>
      <if test="createAt != null" >
        createAt,
      </if>
      <if test="updateAt != null" >
        updateAt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="hospitalName != null" >
        #{hospitalName},
      </if>
      <if test="month != null" >
        #{month},
      </if>
      <if test="dataUrl != null" >
        #{dataUrl},
      </if>
      <if test="dataPath != null" >
        #{dataPath},
      </if>
      <if test="createAt != null" >
        #{createAt},
      </if>
      <if test="updateAt != null" >
        #{updateAt},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="rml.model.Data" >
    update data
    <set >
      <if test="userId != null" >
        userId = #{userId},
      </if>
      <if test="hospitalName != null" >
        hospitalName = #{hospitalName},
      </if>
      <if test="month != null" >
        month = #{month},
      </if>
      <if test="dataUrl != null" >
        dataUrl = #{dataUrl},
      </if>
      <if test="dataPath != null" >
        dataPath = #{dataPath},
      </if>
      <if test="updateAt != null" >
        updateAt = #{updateAt},
      </if>
    </set>
    where id = #{id}
  </update>

  <update id="updateByPrimaryKey" parameterType="rml.model.Data" >
    update data
    set
      userId = #{userId},
      hospitalName = #{hospitalName},
      month = #{month},
      dataUrl = #{dataUrl},
      dataPath = #{dataPath}
      updateAt = #{updateAt}
    where id = #{id}
  </update>
  
  <select id="getAll" resultMap="BaseResultMap" parameterType="rml.model.Page">
	select id, userId, hospitalName,month, dataUrl, dataPath, createAt, updateAt from data
    ORDER BY data.updateAt
    <choose>
      <when test="order!=null and order!=''">
        <choose>
          <when test="order == 'DESC'.toString() or order == 'desc'.toString()">
            DESC
          </when>
          <otherwise>
            ASC
          </otherwise>
        </choose>
      </when>
      <otherwise>
        DESC
      </otherwise>
    </choose>
    <if test="offset!=null and limit!=null">LIMIT #{offset}, #{limit}</if>
  </select>

  <select id="countAll"
          parameterType="rml.model.Page"
          resultType="java.lang.Integer">
    select count(1) from data
  </select>
</mapper>