<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rml.dao.DrugRecordMapper" >
  <resultMap id="BaseResultMap" type="rml.model.DrugRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="userId" property="userId" jdbcType="INTEGER" />
    <result column="hospitalName" property="hospitalName" jdbcType="VARCHAR" />
    <result column="drugName" property="drugName" jdbcType="VARCHAR" />
    <result column="drugSpec" property="drugSpec" jdbcType="VARCHAR" />
    <result column="drugUnit" property="drugUnit" jdbcType="VARCHAR" />
    <result column="drugFactory" property="drugFactory" jdbcType="VARCHAR" />
    <result column="drugType" property="drugType" jdbcType="VARCHAR" />
    <result column="sale" property="sale" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="isValid" property="isValid" jdbcType="VARCHAR" />
    <result column="month" property="month" jdbcType="VARCHAR" />
    <result column="createAt" property="createAt" jdbcType="VARCHAR" />
    <result column="updateAt" property="updateAt" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="MonthsResultMap" type="rml.model.DrugRecord" >
    <result column="month" property="month" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="DrugNamesResultMap" type="rml.model.DrugRecord" >
    <result column="drugName" property="drugName" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, userId, hospitalName, drugName, drugSpec, drugUnit, drugFactory, drugType, sale, price, isValid, month, createAt, updateAt
  </sql>

  <sql id="Base_Column_NoId_List" >
    userId, hospitalName, drugName, drugSpec, drugUnit, drugFactory, drugType, sale, price, isValid, month, createAt, updateAt
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="int" >
    select 
    <include refid="Base_Column_List" />
    from drugRecords
    where id = #{id}
  </select>

  <select id="selectBySeasonAndType" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from drugRecords
    where
    <![CDATA[ UNIX_TIMESTAMP(month) >= UNIX_TIMESTAMP(#{0}) ]]>
    <![CDATA[ and UNIX_TIMESTAMP(month) <= UNIX_TIMESTAMP(#{1}) ]]>
    and drugType = #{2}
  </select>

  <select id="selectBySeason" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from drugRecords
    where
    <![CDATA[ UNIX_TIMESTAMP(month) >= UNIX_TIMESTAMP(#{0}) ]]>
    <![CDATA[ and UNIX_TIMESTAMP(month) <= UNIX_TIMESTAMP(#{1}) ]]>
  </select>

  <select id="selectBySeasonAndDrugName" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from drugRecords
    where
    <![CDATA[ UNIX_TIMESTAMP(month) >= UNIX_TIMESTAMP(#{0}) ]]>
    <![CDATA[ and UNIX_TIMESTAMP(month) <= UNIX_TIMESTAMP(#{1}) ]]>
    and drugName = #{2}
  </select>

  <select id="selectByMonthAndType" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from drugRecords
    where month = #{0} and drugType = #{1}
  </select>

  <select id="selectByMonthAndDrugName" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from drugRecords
    where month = #{0} and drugName = #{1}
  </select>

  <select id="selectByMonthAndDrugNameAndDrugSpecAndDrugFactory" parameterType="rml.model.Bo.DrugRecordSearchCondition" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from drugRecords
    <trim prefix="Where" prefixOverrides="AND |OR">
      <if test="drugName != null and drugName != ''" >
        AND drugName = #{drugName}
      </if>
      <if test="drugSpec != null and drugSpec != ''" >
        AND drugSpec = #{drugSpec}
      </if>
      <if test="drugFactory != null and drugFactory != ''" >
        AND drugFactory = #{drugFactory}
      </if>
      <if test="month != null and month != ''" >
        AND month= #{month}
      </if>
    </trim>
  </select>

  <select id="selectByMonthAndDrugNameAndDrugSpecAndDrugFactoryAndUserId" parameterType="rml.model.Bo.DrugRecordSearchCondition" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from drugRecords
    <trim prefix="Where" prefixOverrides="AND |OR">
      <if test="drugName != null and drugName != ''" >
        AND drugName = #{drugName}
      </if>
      <if test="drugSpec != null and drugSpec != ''" >
        AND drugSpec = #{drugSpec}
      </if>
      <if test="drugFactory != null and drugFactory != ''" >
        AND drugFactory = #{drugFactory}
      </if>
      <if test="month != null and month != ''" >
        AND month= #{month}
      </if>
      <if test="userId != null and userId != ''" >
        AND userId= #{userId}
      </if>
    </trim>
  </select>

  <select id="selectAllMonths" resultMap="MonthsResultMap">
    select
    distinct
    month
    from drugRecords
  </select>

  <select id="selectAllDrugs" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from drugRecords
    where month = "2016-05-01" and userId="6"
  </select>

  <select id="selectAllDrugs2" resultMap="DrugNamesResultMap">
    select
    distinct
    drugName
    from drugRecords
    where month = "2016-05-01" and userId="6"
  </select>

  <delete id="deleteByPrimaryKey" parameterType="int" >
    delete from drugRecords
    where id = #{id}
  </delete>

  <delete id="deleteAllByMonthAndUserId" >
    delete from drugRecords
    where month = #{0} and userId= #{1}
  </delete>

  <delete id="deleteAllByMonthAndHospitalName" >
    delete from drugRecords
    where month = #{0} and hospitalName= #{1}
  </delete>

  <insert id="insert" parameterType="rml.model.DrugRecord" >
    insert into drugRecords (<include refid="Base_Column_NoId_List" />)
    values (
    #{userId},#{hospitalName}, #{drugName}, #{drugSpec}, #{drugUnit}, #{drugFactory}, #{drugType}, #{sale}, #{price}, #{isValid}, #{month}, #{createAt}, #{updateAt})
  </insert>

  <insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">
    insert into drugRecords (<include refid="Base_Column_NoId_List" />)
    values
    <foreach collection="list" item="drugRecord" index="index" separator="," >
      (
      #{drugRecord.userId},#{drugRecord.hospitalName}, #{drugRecord.drugName}, #{drugRecord.drugSpec}, #{drugRecord.drugUnit}, #{drugRecord.drugFactory}, #{drugRecord.drugType}, #{drugRecord.sale}, #{drugRecord.price}, #{drugRecord.isValid}, #{drugRecord.month}, #{drugRecord.createAt}, #{drugRecord.updateAt}
      )
    </foreach>
  </insert>

  <insert id="insertSelective" parameterType="rml.model.DrugRecord" >
    insert into drugRecords
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="hospitalName != null" >
        hospitalName,
      </if>
      <if test="drugName != null" >
        drugName,
      </if>
      <if test="drugSpec != null" >
        drugSpec,
      </if>
      <if test="drugUnit != null" >
        drugUnit,
      </if>
      <if test="drugFactory != null" >
        drugFactory,
      </if>
      <if test="drugType != null" >
        drugType,
      </if>
      <if test="sale != null" >
        sale,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="isValid != null" >
        isValid,
      </if>
      <if test="month != null" >
        month,
      </if>
      <if test="createAt != null" >
        createAt,
      </if>
      <if test="updateAt != null" >
        updateAt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="hospitalName != null" >
        #{hospitalName},
      </if>
      <if test="drugName != null" >
        #{drugName},
      </if>
      <if test="drugSpec != null" >
        #{drugSpec},
      </if>
      <if test="drugUnit != null" >
        #{drugUnit},
      </if>
      <if test="drugFactory != null" >
        #{drugFactory},
      </if>
      <if test="drugType != null" >
        #{drugType},
      </if>
      <if test="sale != null" >
        #{sale},
      </if>
      <if test="price != null" >
        #{price},
      </if>
      <if test="isValid != null" >
        #{isValid},
      </if>
      <if test="month != null" >
        #{month},
      </if>
      <if test="createAt != null" >
        #{createAt},
      </if>
      <if test="updateAt != null" >
        #{updateAt},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="rml.model.DrugRecord" >
    update drugRecords
    <set >
      <if test="userId != null" >
        userId = #{userId},
      </if>
      <if test="hospitalName != null" >
        hospitalName = #{hospitalName},
      </if>
      <if test="drugName != null" >
        drugName= #{drugName},
      </if>
      <if test="drugSpec != null" >
        drugSpec= #{drugSpec},
      </if>
      <if test="drugUnit != null" >
        drugUnit= #{drugUnit},
      </if>
      <if test="drugFactory != null" >
        drugFactory= #{drugFactory},
      </if>
      <if test="drugType != null" >
        drugType = #{drugType},
      </if>
      <if test="sale != null" >
        sale = #{sale},
      </if>
      <if test="price != null" >
        price = #{price},
      </if>
      <if test="isValid != null" >
        isValid = #{isValid},
      </if>
      <if test="month != null" >
        month = #{month},
      </if>
      <if test="updateAt != null" >
        updateAt = #{updateAt},
      </if>
    </set>
    where id = #{id}
  </update>

  <update id="updateByPrimaryKey" parameterType="rml.model.DrugRecord" >
    update drugRecords
    set
      userId = #{userId},
      hospitalName = #{hospitalName},
      drugName = #{drugName},
      drugSpec = #{drugSpec},
      drugUnit = #{drugUnit},
      drugFactory = #{drugFactory},
      drugType = #{drugType},
      sale = #{sale}
      price = #{price},
      isValid = #{isValid},
      month = #{month}
      updateAt = #{updateAt}
    where id = #{id}
  </update>
  
  <select id="getAll" resultMap="BaseResultMap" parameterType="rml.model.Bo.DrugRecordSearchCondition">
	select <include refid="Base_Column_List" /> from drugRecords
    <trim prefix="Where" prefixOverrides="AND |OR">
      <if test="userId != 0" >
        userId= #{userId}
      </if>
      <if test="drugName != null and drugName != ''" >
        AND drugName like CONCAT('%','${drugName}','%' )
      </if>
      <if test="drugSpec != null and drugSpec != ''" >
        AND drugSpec like CONCAT('%','${drugSpec}','%' )
      </if>
      <if test="drugFactory != null and drugFactory != ''" >
        AND drugFactory like CONCAT('%','${drugFactory}','%' )
      </if>
      <if test="drugType != null and drugType != ''" >
        AND drugType= #{drugType}
      </if>
      <if test="isValid != null and isValid != ''" >
        AND isValid= #{isValid}
      </if>
      <if test="month != null and month != ''" >
        AND month= #{month}
      </if>
    </trim>
    ORDER BY drugRecords.updateAt
    <choose>
      <when test="order!=null and order!=''">
        <choose>
          <when test="order == 'DESC'.toString() or order == 'desc'.toString()">
            DESC
          </when>
          <otherwise>
            ASC
          </otherwise>
        </choose>
      </when>
      <otherwise>
        DESC
      </otherwise>
    </choose>
    <if test="offset!=null and limit!=null">LIMIT #{offset}, #{limit}</if>
  </select>

  <select id="getAllByUserIdAndMonth" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from drugRecords
    where month = #{0} and userId= #{1}
  </select>

  <select id="countAll"
          resultType="java.lang.Integer" parameterType="rml.model.Bo.DrugRecordSearchCondition">
    select count(1) from drugRecords
    <trim prefix="Where" prefixOverrides="AND |OR">
      <if test="userId != 0" >
        userId= #{userId}
      </if>
      <if test="drugName != null and drugName != ''" >
        AND drugName like CONCAT('%','${drugName}','%' )
      </if>
      <if test="drugSpec != null and drugSpec != ''" >
        AND drugSpec like CONCAT('%','${drugSpec}','%' )
      </if>
      <if test="drugFactory != null and drugFactory != ''" >
        AND drugFactory like CONCAT('%','${drugFactory}','%' )
      </if>
      <if test="drugType != null and drugType != ''" >
        AND drugType= #{drugType}
      </if>
      <if test="isValid != null and isValid != ''" >
        AND isValid= #{isValid}
      </if>
      <if test="month != null and month != ''" >
        AND month= #{month}
      </if>
    </trim>
  </select>
</mapper>